extends layout

block content
    div(style="width:50%; margin:auto")
        h3= classroom_page.classroom
        form(action='', method='POST')
            label(for="className")= classroom_page.classroomName
            input(type="text" class="form-control" name="classroomName" id="classroomName" value=classroomToEdit.classroomName required="" maxlength=60 minlength=4)
            hr
            if user.GroupId == 1
                label(for="SchoolId")= classroom_page.school
                select(class='form-control' name="SchoolId" id="SchoolId")
                    each item in schoolList
                        if classroomToEdit.SchoolId == item.id
                            option(selected="selected" value=item.id)= item.schoolName
                        else
                            option(value=item.id)= item.schoolName
                hr
                label(for="DeviceId")= classroom_page.device
                select(class="form-control" name="DeviceId" id="DeviceId")
                    option --
                    each item in deviceList
                        if classroomToEdit.DeviceId == item.id
                            option(selected="selected" value=item.id data-schoolid=item.SchoolId)= item.hostName
                        else if classroomToEdit.SchoolId != item.SchoolId
                            option(hidden="hidden" value=item.id data-schoolid=item.SchoolId)= item.hostName
                        else
                            option(value=item.id data-schoolid=item.SchoolId)= item.hostName
                hr
            else
                input(type='hidden' name="SchoolId")= user.SchoolId
                label(for="DeviceId")= classroom_page.device
                select(class="form-control" name="DeviceId")
                    each item in deviceList
                        if item.SchoolId == user.SchoolId
                            if classroomToEdit.DeviceId == item.id
                                option(selected="selected" value=item.id data-SchoolId=item.SchoolId)= item.hostName
                            else
                                option(value=item.id data-SchoolId=item.SchoolId)= item.hostName
                hr
            if classroomToEdit.id
                a(href="/conf/classroom?id="+classroomToEdit.id, class='btn btn-danger', type='button', style="margin:0.2em 1em 2em 1em")= buttons.cancel_button
            else
                a(href="/conf/", class='btn btn-danger', type='button', style="margin:0.2em 1em 2em 1em")= buttons.cancel_button
            button(class='btn btn-primary', type='submit', style="margin:0.2em 1em 2em 1em")= buttons.save_button

    script.

        function changeSchool(){
            var SchoolId = $("#SchoolId").val();
            if (SchoolId == 1) {
                $("#DeviceId option").each(function () {
                    if ($(this).attr("data-schoolid")) {
                        $(this).prop("hidden", true);
                        $(this).prop("selected", false);
                    } else {
                    }
                })
            } else {
                $("#DeviceId option").each(function () {
                    if ($(this).attr("data-schoolid") == SchoolId) {
                        $(this).prop("hidden", false);
                    } else if ($(this).attr("data-schoolid")) {
                        $(this).prop("hidden", true);
                        $(this).prop("selected", false);
                    }
                });
            }
        }

        $(document).ready(function () {
            $("#SchoolId").change(function(){
                changeSchool();
            });
        });