extends layout

mixin displaySchool(school)
    if school.id != 1
        if user.SchoolId == 1 || user.SchoolId == school.id
            tr
                td
                    a(href="/conf/school/" + school.id + "/")= school.schoolName
                td= school.accessMethod
                td
                    div(style="float:right")
                        a(href="/conf/school/" + school.id + "/edit/", type='button', style="margin:auto 0.5em")
                            i(class="fa fa-edit")
                        if user.GroupId == 1
                            a(href="#", type='button', style="margin:auto 0.5em", onclick="confirm_delete('school', " + school.id + ")")
                                i(class="fa fa-remove")

mixin displayClassroom(classroom)
    if user.SchoolId == 1 || user.SchoolId == classroom.SchoolId
        tr
            td= classroom.schoolName
            td
                a(href="/conf/classroom/" + classroom.id +"/")= classroom.classroomName
            td= classroom.deviceHostname
            td
                div(style="float:right")
                    a(href="/conf/classroom/" + classroom.id +"/edit/", type='button', style="margin:auto 0.5em")
                        i(class="fa fa-edit")
                    a(href="#", type='button', style="margin:auto 0.5em", onclick="confirm_delete('classroom', " + classroom.id + ")")
                        i(class="fa fa-remove")

mixin displayApi(api)
    tr
        if user.GroupId == 1
            if api.SchoolId == "" || api.SchoolId == 1 || api.SchoolId == "undefined"
                td
                    a(href="#", type='button', style="margin:auto 0.5em", onclick="api_conf(" + api.id + ")")= config_page.api_none
            else
                td
                    a(href="#", type='button', style="margin:auto 0.5em", onclick="api_conf(" + api.id + ")")= api.schoolName
        else
            if api.SchoolId == "" || api.SchoolId == 1 || api.SchoolId == "undefined"
                td= config_page.api_none
            else
                td= api.schoolName

        td= api.ownerId
        td= api.vhmId
        td= api.vpcUrl
        td= api.accessToken
        td= api.expireAt
        td
            div(style="float:right")
                a(href="/api/refresh?id=" + api.id, type='button', style="margin:auto 0.5em")
                    i(class="fa fa-refresh")
                a(href="#", type='button', style="margin:auto 0.5em", onclick="confirm_delete('api', " + api.id + ")")
                    i(class="fa fa-remove")

mixin displayUser(userToDisplay)
    - var rowClass = ""
    if userToDisplay.userEnable == "false"
        - rowClass = "active"
    tr(class=rowClass)
        td= userToDisplay.schoolName
        td
            a(href="/conf/user/" + userToDisplay.id + "/")= userToDisplay.username
        td= userToDisplay.firstName
        td= userToDisplay.lastName
        td= userToDisplay.groupName
        td= userToDisplay.userEnable
        td= userToDisplay.lastLogin
        td
            div(style="float:right")
                a(href="/conf/user/" + userToDisplay.id +"/edit/", type='button', style="margin:auto 0.5em")
                    i(class="fa fa-edit")
                if userToDisplay.id == user.id
                    i(class="fa fa-remove" style="margin:auto 0.5em")
                else
                    a(href="#", type='button', style="margin:auto 0.5em", onclick="confirm_delete('user', " + userToDisplay.id + ")")
                        i(class="fa fa-remove")


block script_header

block content
    - var buttonC = ""
    - var tabC = ""
    - var buttonU = ""
    - var tabU = ""
    - var buttonS = ""
    - var tabS = ""
    - var buttonA = ""
    - var tabA = ""
    case test
        when "classroom"
            - var buttonC = "active"
            - var tabC = "active in"
        when "school"
            - var buttonS = "active"
            - var tabS = "active in"
        when "api"
            - var buttonA = "active"
            - var tabA = "active in"
        default
            - var buttonU = "active"
            - var tabU = "active in"

    div(class="modal fade" id="confirmRemoveModal" tabindex="-1" role="dialog" aria-labelledby="confirmRemoveModalLabel" aria-hidden="true")
      div(class="modal-dialog")
         div(class="modal-content")
            div(class="modal-header")
               h4(class="modal-title" id="confirmRemoveModalLabel") Confirmation
            div(class="modal-body")
               span(id="oText")
            div(class="modal-footer")
               button(type="button" class="btn btn-primary" data-dismiss="modal")= buttons.cancel_button
               a(type="button" id="oRemove" href="" class="btn btn-danger")= buttons.remove_button
    div(class="modal fade" id="linkApiToSchool" tabindex="-1" role="dialog" aria-labelledby="linkApiToSchoolLabel" aria-hidden="true")
      div(class="modal-dialog")
         form(id="apiConfig", action='', method='POST')
            div(class="modal-content")
               div(class="modal-header")
                  h4(class="modal-title" id="linkApiToSchoolLabel")= config_page.link_api_conf
               div(class="modal-body")
                  label(for="group")= config_page.link_api_text
                  select(class="form-control", name="SchoolId")
                     each item in schoolList
                        option(value=item.id)= item.schoolName
               div(class="modal-footer")
                  button(type="button" class="btn btn-primary" data-dismiss="modal")= buttons.cancel_button
                  button(class='btn btn-primary', type='submit')= buttons.save_button

    section(class='sb-site-content')
       div(class="bs-example bs-example-tabs" data-example-id="togglable-tabs")
           ul(id="myTabs" class="nav nav-tabs" role="tablist")
                li(role="presentation" class=buttonU)
                    a(href="#user" role="tab" id="user-tab" data-toggle="tab" aria-controls="user" aria-expanded="false")= config_page.user_mgmt
                li(role="presentation" class=buttonC)
                    a(href="#classroom" role="tab" id="classroom-tab" data-toggle="tab" aria-controls="classroom" aria-expanded="false")= config_page.classroom_mgmt
                li(role="presentation" class=buttonS)
                    a(href="#school" role="tab" id="school-tab" data-toggle="tab" aria-controls="school" aria-expanded="false")= config_page.school_mgmt
                li(role="presentation" class=buttonA)
                    a(href="#api" id="api-tab" role="tab" data-toggle="tab" aria-controls="api" aria-expanded="false")= config_page.api_configuration
           div(id="myTabContent" class="tab-content")
               div(role="tabpanel" class="tab-pane fade" + tabA id="api" aria-labelledby="api-tab")
                    a(href='https://cloud.aerohive.com/thirdpartylogin?client_id=' + clientId + '&redirect_uri=' + redirectUrl,
                    class='btn btn-primary' type='button' style="margin:0.2em 1em 2em 1em")= config_page.register
                    table.table
                        thead
                            tr
                                th= config_page.school
                                th ownerID
                                th vhmID
                                th vpcUrl
                                th accessToken
                                th expireAt
                                th
                                    div(style="float:right") Action
                        tbody
                            each api in apiList
                                + displayApi(api)
               div(role="tabpanel" class="tab-pane fade " +tabU id="user" aria-labelledby="user-tab")
                    a(href="/conf/user/new/", class='btn btn-primary', type='button', style="margin:0.2em 1em 2em 1em")= user_page.new_user_button
                    table.table
                        thead
                            tr
                                th= user_page.school
                                th= user_page.username
                                th= user_page.firstName
                                th= user_page.lastName
                                th= user_page.group
                                th= user_page.enable
                                th= user_page.lastLogin
                                th
                                    div(style="float:right") Action
                        tbody
                            each userToDisplay in userList
                                + displayUser(userToDisplay)

                div(role="tabpanel" class="tab-pane fade "+tabC id="classroom" aria-labelledby="classroom-tab")
                    a(href="/conf/classroom/new/", class='btn btn-primary', type='button', style="margin:0.2em 1em 2em 1em")= classroom_page.new_classroom_button
                    table.table
                        thead
                            tr
                                th= classroom_page.school
                                th= classroom_page.classroomName
                                th= classroom_page.device
                                th
                                    div(style="float:right") Action
                        tbody
                            each classroom in classList
                                + displayClassroom(classroom)

                div(role="tabpanel" class="tab-pane fade " +tabS id="school" aria-labelledby="school-tab")
                    if user.GroupId == 1
                        a(href="/conf/school/new/", class='btn btn-primary', type='button', style="margin:0.2em 1em 2em 1em")= school_page.new_school_button
                    table.table
                        thead
                            tr
                                th= school_page.schoolName
                                th= school_page.access_method
                                th
                                    div(style="float:right") Action
                        tbody
                            each school in schoolList
                                + displaySchool(school)


    script.
      function confirm_delete(oType, oId) {
         switch (oType){
            case "api":
               $('#oRemove').attr('href', '/conf/api/delete?id=' + oId);
               $('#oText').text("#{config_page.delete_api_title}");
               break;
            case "user":
               $('#oRemove').attr('href', '/conf/user/delete?id=' + oId);
               $('#oText').text("#{config_page.delete_user_title}");
               break;
            case "classroom":
               $('#oRemove').attr('href', '/conf/classroom/delete?id=' + oId);
               $('#oText').text("#{config_page.delete_class_title}");
               break;
            case "school":
               $('#oRemove').attr('href', '/conf/school/delete?id=' + oId);
               $('#oText').text("#{config_page.delete_school_title}");
               break;
         }
         $('#confirmRemoveModal').modal('show');
      }
      function api_conf(apiId) {
         $('#apiConfig').attr('action', '/conf/api/update?id=' + apiId);
         $('#linkApiToSchool').modal('show');

      }

