extends layout

block content
    div(style="width:50%; margin:auto")
        h3= school_page.school
        form(action='', method='POST')
            label(for="schoolName")= school_page.schoolName
            input(type="text" class="form-control" name="schoolName" id="schoolName" value=schoolToEdit.schoolName required="" maxlength=60 minlength=4)
            hr
            h4= school_page.access_method
            div(class="row" data-name="api").spanSelect
                div(class="input-group" )
                    span(class="input-group-addon" )
                        input(type="radio" aria-label="api" name="waccess" id="api" value="api" )
                    span(aria-label="api" class="input-group-addon" style="width:100%;text-align: left;border:1px solid #ccc")= school_page.api
            div(class="row"  data-name="ssh").spanSelect
                div(class="input-group")
                    span(class="input-group-addon")
                        input(type="radio" aria-label="ssh" name="waccess" id="ssh" value="ssh" checked="checked")
                    span(aria-label="ssh" class="input-group-addon" style="width:100%;text-align: left;border:1px solid #ccc")= school_page.ssh
            div(id="ssh_param" style="display:none;")
                div(class="alert alert-danger" style="margin: 0; padding: 6px; width: 100%; box-shadow: none; font-size: 0.8em")
                    i(class="fa fa-exclamation-triangle fa-lg" style="margin-right:0.5em")
                    span= school_page.ssh_warning
                label(for="schoolName")= school_page.ssh_account
                input(type="text" class="form-control" name="sshAdmin" id="sshAdmin" maxlength=30 minlength=4 value='admin')
                label(for="schoolName")= school_page.ssh_password
                input(type="password" class="form-control" name="sshPassword" id="sshPassword" maxlength=30 minlength=4)
                label(for="schoolName")= school_page.ssh_password_confirm
                input(type="password" class="form-control" name="sshPassword_confirm" id="sshPassword_confirm" maxlength=30 minlength=4)


            hr
            if schoolToEdit.id
                a(href="/conf/school?id="+schoolToEdit.id, class='btn btn-danger', type='button', style="margin:0.2em 1em 2em 1em")= buttons.cancel_button
            else
                a(href="/conf/", class='btn btn-danger', type='button', style="margin:0.2em 1em 2em 1em")= buttons.cancel_button
            button(class='btn btn-primary', type='submit', style="margin:0.2em 1em 2em 1em")= buttons.save_button

    script.
        $(function () {
            $('#api').change(function(){
                $('#ssh_param').hide();
            });
            $('#ssh').change(function(){
                $('#ssh_param').show();
            });
        })
        $(document).ready(function () {
            if ($("#api").attr("checked")){
                $('#ssh_param').hide();
            } else if ($("#ssh").attr("checked")) {
                $('#ssh_param').show();
            }
        });