extends layout
block content
    div(style="width:50%; margin:auto")
        h3= user_page.user_account
        label(for="username")= user_page.username
        input(type="text" class="form-control" name="username" id="username" value=userToEdit.username required="" maxlength=60 minlength=4, disabled="disabled")
        label(for="password")= user_page.password
        input(type="password" class="form-control" name="password" id="password" value=user_page.password_placeholder minlength=6 maxlength=60, disabled="disabled")
        hr
        label(for="firstName")= user_page.firstName
        input(type="text" class="form-control" name="firstName" id="firstName" value=userToEdit.firstName, disabled="disabled")
        label(for="lastName")= user_page.lastName
        input(type="text" class="form-control" name="lastName" id="lastName" value=userToEdit.lastName, disabled="disabled")
        label(for="email")= user_page.email
        input(type="email" class="form-control" name="email" id="email" value=userToEdit.email, disabled="disabled")
        hr
        label(for="group")= user_page.school
        select(class="form-control" name="SchoolId", disabled="disabled")
            option(selected="selected")= userToEdit.schoolName
        hr
        label(for="group")= user_page.group
        select(class="form-control", disabled="disabled", name="userGroup")
            option(selected="selected")= userToEdit.groupName
        label(for="language")= user_page.language
        select(class="form-control" name="language", disabled="disabled")
            option(selected="selected")= userToEdit.language
        label(for="enable")= user_page.enable
        case userToEdit.userEnable
            when "true"
                input(type="checkbox", name="userEnable", style="margin-left:1em", checked, disabled="disabled")
            default
                input(type="checkbox", name="userEnable", style="margin-left:1em", disabled="disabled")
        hr
        case user.GroupId
            when 1 || 2
                a(href="/conf/", class='btn btn-primary', type='button', style="margin:0.2em 1em 2em 1em")= buttons.back_button
            default
                a(href="/", class='btn btn-primary', type='button', style="margin:0.2em 1em 2em 1em")= buttons.back_button
        a(href="/conf/user/edit?id=" + userToEdit.id, class='btn btn-primary', type='button', style="margin:0.2em 1em 2em 1em")= buttons.edit_button
