extends layout

block content
   section(class='sb-site-content')
      h3= config_page.api_configuration
      a(href='https://cloud.aerohive.com/thirdpartylogin?client_id='+clientId+'&redirect_uri='+redirectUrl,
      class='btn btn-primary', type='button', style="margin:0.2em 1em 2em 1em")= config_page.register
      table.table
         thead
            tr
               th API
               th ownerID
               th vhmID
               th vpcUrl
               th accessToken
               th refreshToken
               th expireAt
         tbody
            each api in apiList
               tr
                  td= api.id
                  td= api.ownerId
                  td= api.vhmId
                  td= api.vpcUrl
                  td= api.accessToken
                  td= api.refreshToken
                  td= api.expireAt
      hr
      h3= config_page.classroom_mgmt
      a(href="/user/new", class='btn btn-primary', type='button', style="margin:0.2em 1em 2em 1em")= user_page.new_classroom_button
      hr
      h3= config_page.users
      a(href="/user/new", class='btn btn-primary', type='button', style="margin:0.2em 1em 2em 1em")= user_page.new_user_button
      table.table
         thead
            tr
               th= user_page.username
               th= user_page.firstName
               th= user_page.lastName
               th= user_page.group
               th= user_page.enable
               th= user_page.lastLogin
               th Action
         tbody
            each user in userList
               if user.userEnable == "true"
                  tr
                     td
                        a(href="/user?id="+user.id)= user.username
                     td= user.firstName
                     td= user.lastName
                     each group in groupList
                        if group.id == user.userGroup
                           td= group.groupName
                     td= user.userEnable
                     td= user.lastLogin
                     td
                        a(href="/user/edit?id="+user.id, type='button', style="margin:auto 0.5em")
                           i(class="fa fa-edit")
                        a(href="/user/edit?id="+user.id, type='button', style="margin:auto 0.5em")
                           i(class="fa fa-remove")
               else
                  tr.active
                     td
                        a(href="/user?id="+user.id)= user.username
                     td= user.firstName
                     td= user.lastName
                     td= user.userGroup
                     td= user.userEnable
                     td= user.lastLogin
                     td
                        a(href="/user/edit?id="+user.id, type='button', style="margin:auto 0.5em")
                           i(class="fa fa-edit")
                        a(href="/user/edit?id="+user.id, type='button', style="margin:auto 0.5em")
                           i(class="fa fa-remove")
