extends layout

block script_header

block content
   div(class="modal fade" id="confirmRemoveModal" tabindex="-1" role="dialog" aria-labelledby="confirmRemoveModalLabel" aria-hidden="true")
      div(class="modal-dialog")
         div(class="modal-content")
            div(class="modal-header")
               h4(class="modal-title" id="confirmRemoveModalLabel") Confirmation
            div(class="modal-body")
               span(id="oText")
            div(class="modal-footer")
               button(type="button" class="btn btn-primary" data-dismiss="modal")= buttons.cancel_button
               a(type="button" id="oRemove" href="" class="btn btn-danger")= buttons.remove_button
   div(class="modal fade" id="linkApiToSchool" tabindex="-1" role="dialog" aria-labelledby="linkApiToSchoolLabel" aria-hidden="true")
      div(class="modal-dialog")
         form(id="apiConfig", action='', method='POST')
            div(class="modal-content")
               div(class="modal-header")
                  h4(class="modal-title" id="linkApiToSchoolLabel")= config_page.link_api_conf
               div(class="modal-body")
                  label(for="group")= config_page.link_api_text
                  select(class="form-control", name="SchoolId")
                     each item in schoolList
                        option(value=item.id)= item.schoolName
               div(class="modal-footer")
                  button(type="button" class="btn btn-primary" data-dismiss="modal")= buttons.cancel_button
                  button(class='btn btn-primary', type='submit')= buttons.save_button

   section(class='sb-site-content')
       div(class="bs-example bs-example-tabs" data-example-id="togglable-tabs")
           ul(id="myTabs" class="nav nav-tabs" role="tablist")
                li(role="presentation" class="")
                    a(href="#user" role="tab" id="user-tab" data-toggle="tab" aria-controls="user" aria-expanded="false")= config_page.user_mgmt
                li(role="presentation" class="")
                    a(href="#classroom" role="tab" id="classroom-tab" data-toggle="tab" aria-controls="classroom" aria-expanded="false")= config_page.classroom_mgmt
                li(role="presentation" class="")
                    a(href="#school" role="tab" id="school-tab" data-toggle="tab" aria-controls="school" aria-expanded="false")= config_page.school_mgmt
                li(role="presentation" class="")
                    a(href="#api" id="api-tab" role="tab" data-toggle="tab" aria-controls="api" aria-expanded="false")= config_page.api_configuration
           div(id="myTabContent" class="tab-content")
               div(role="tabpanel" class="tab-pane fade" id="api" aria-labelledby="api-tab")
                    a(href='https://cloud.aerohive.com/thirdpartylogin?client_id=' + clientId + '&redirect_uri=' + redirectUrl,
                    class='btn btn-primary' type='button' style="margin:0.2em 1em 2em 1em")= config_page.register
                    table.table
                        thead
                            tr
                                th= config_page.school
                                th ownerID
                                th vhmID
                                th vpcUrl
                                th accessToken
                                th expireAt
                                th
                                    div(style="float:right") Action
                        tbody
                            each api in apiList
                                tr
                                    case api.SchoolId
                                        when ""
                                            td
                                                a(href="#", type='button', style="margin:auto 0.5em", onclick="api_conf(" + api.id + ")")= config_page.api_none
                                        when 1
                                            td
                                                a(href="#", type='button', style="margin:auto 0.5em", onclick="api_conf(" + api.id + ")")= config_page.api_none
                                        default
                                            td
                                                a(href="#", type='button', style="margin:auto 0.5em", onclick="api_conf(" + api.id + ")")= api.schoolName
                                    td= api.ownerId
                                    td= api.vhmId
                                    td= api.vpcUrl
                                    td= api.accessToken
                                    td= api.expireAt
                                    td
                                        div(style="float:right")
                                            a(href="/api/refresh?id=" + api.id, type='button', style="margin:auto 0.5em")
                                                i(class="fa fa-refresh")
                                            a(href="#", type='button', style="margin:auto 0.5em", onclick="confirm_delete('api', " + api.id + ")")
                                                i(class="fa fa-remove")
               div(role="tabpanel" class="tab-pane fade" id="user" aria-labelledby="user-tab")
                    a(href="/conf/user/new/", class='btn btn-primary', type='button', style="margin:0.2em 1em 2em 1em")= user_page.new_user_button
                    table.table
                        thead
                            tr
                                th= user_page.school
                                th= user_page.username
                                th= user_page.firstName
                                th= user_page.lastName
                                th= user_page.group
                                th= user_page.enable
                                th= user_page.lastLogin
                                th
                                    div(style="float:right") Action
                        tbody
                            each userToDisplay in userList
                                if userToDisplay.userEnable == "true"
                                    tr
                                        td= userToDisplay.schoolName
                                        td
                                            a(href="/conf/user?id=" + userToDisplay.id)= userToDisplay.username
                                        td= userToDisplay.firstName
                                        td= userToDisplay.lastName
                                        td= userToDisplay.groupName
                                        td= userToDisplay.userEnable
                                        td= userToDisplay.lastLogin
                                        td
                                            div(style="float:right")
                                                a(href="/conf/user/edit?id=" + userToDisplay.id, type='button', style="margin:auto 0.5em")
                                                    i(class="fa fa-edit")
                                                if userToDisplay.id == user.id
                                                    i(class="fa fa-remove" style="margin:auto 0.5em")
                                                else
                                                    a(href="#", type='button', style="margin:auto 0.5em", onclick="confirm_delete('user', " + userToDisplay.id + ")")
                                                        i(class="fa fa-remove")
                                else
                                    tr.active
                                        td= userToDisplay.schoolName
                                        td
                                            a(href="/conf/user?id=" + userToDisplay.id)= userToDisplay.username
                                        td= userToDisplay.firstName
                                        td= userToDisplay.lastName
                                        td= userToDisplay.userGroup
                                        td= userToDisplay.userEnable
                                        td= userToDisplay.lastLogin
                                        td
                                            div(style="float:right")
                                                a(href="/conf/user/edit?id=" + userToDisplay.id, type='button', style="margin:auto 0.5em")
                                                    i(class="fa fa-edit")
                                                a(href="#", type='button', style="margin:auto 0.5em", onclick="confirm_delete('user', " + userToDisplay.id + ")")
                                                    i(class="fa fa-remove")

                div(role="tabpanel" class="tab-pane fade" id="classroom" aria-labelledby="classroom-tab")
                    a(href="/conf/classroom/new/", class='btn btn-primary', type='button', style="margin:0.2em 1em 2em 1em")= classroom_page.new_classroom_button
                    table.table
                        thead
                            tr
                                th= classroom_page.school
                                th= classroom_page.classroomName
                                th= classroom_page.device
                                th
                                    div(style="float:right") Action
                        tbody
                            each classroom in classList
                                tr
                                    td= classroom.schoolName
                                    td
                                        a(href="/conf/classroom?id=" + classroom.id)= classroom.classroomName
                                    td= classroom.deviceHostname
                                    td
                                        div(style="float:right")
                                            a(href="/conf/classroom/edit?id=" + classroom.id, type='button', style="margin:auto 0.5em")
                                                i(class="fa fa-edit")
                                            a(href="#", type='button', style="margin:auto 0.5em", onclick="confirm_delete('classroom', " + classroom.id + ")")
                                                i(class="fa fa-remove")
                div(role="tabpanel" class="tab-pane fade" id="school" aria-labelledby="school-tab")
                    a(href="/conf/school/new/", class='btn btn-primary', type='button', style="margin:0.2em 1em 2em 1em")= school_page.new_school_button
                    table.table
                        thead
                            tr
                                th= school_page.schoolName
                                th
                                    div(style="float:right") Action
                        tbody
                            each school in schoolList
                                if school.id != 1
                                    tr
                                        td
                                            a(href="/conf/school?id=" + school.id)= school.schoolName
                                        td
                                            div(style="float:right")
                                                a(href="/conf/school/edit?id=" + school.id, type='button', style="margin:auto 0.5em")
                                                    i(class="fa fa-edit")
                                                a(href="#", type='button', style="margin:auto 0.5em", onclick="confirm_delete('school', " + school.id + ")")
                                                    i(class="fa fa-remove")



   script.
      function confirm_delete(oType, oId) {
         switch (oType){
            case "api":
               $('#oRemove').attr('href', '/conf/api/delete?id=' + oId);
               $('#oText').text("#{config_page.delete_api_title}");
               break;
            case "user":
               $('#oRemove').attr('href', '/conf/user/delete?id=' + oId);
               $('#oText').text("#{config_page.delete_user_title}");
               break;
            case "classroom":
               $('#oRemove').attr('href', '/conf/classroom/delete?id=' + oId);
               $('#oText').text("#{config_page.delete_class_title}");
               break;
            case "school":
               $('#oRemove').attr('href', '/conf/school/delete?id=' + oId);
               $('#oText').text("#{config_page.delete_school_title}");
               break;
         }
         $('#confirmRemoveModal').modal('show');
      }
      function api_conf(apiId) {
         $('#apiConfig').attr('action', '/conf/api/update?id=' + apiId);
         $('#linkApiToSchool').modal('show');

      }

      $(document).ready(function(){
          $('#myTabs a[href="#user"]').tab('show')
      });