extends layout

block content
    - var schoolName = ""
    - var passwordPh = ""
    - var accessApi = ""
    - var accessSsh = ""
    if schoolToEdit
        - schoolName = schoolToEdit.schoolName
        if schoolToEdit.accessMethod == "ssh"
            - passwordPh= school_page.password_placeholder


    div(style="width:50%; margin:auto")
        h3= school_page.school
        form(action='', method='POST')
            label(for="schoolName")= school_page.schoolName
            input(type="text" class="form-control" name="schoolName" id="schoolName" value=schoolToEdit.schoolName required="" pattern="^.{4,60}$")
            hr
            h4= school_page.access_method
            div(class="row" data-name="api").spanSelect
                div(class="input-group" )
                    span(class="input-group-addon" )
                        if schoolToEdit.accessMethod == "" || schoolToEdit.accessMethod == "api"
                            input(type="radio" aria-label="api" name="accessMethod" id="api" value="api" checked='checked')
                        else
                            input(type="radio" aria-label="api" name="accessMethod" id="api" value="api")
                    span(aria-label="api" class="input-group-addon" style="width:100%;text-align: left;border:1px solid #ccc")= school_page.api
            div(class="row"  data-name="ssh").spanSelect
                div(class="input-group")
                    span(class="input-group-addon")
                        if schoolToEdit && schoolToEdit.accessMethod == "ssh"
                            input(type="radio" aria-label="ssh" name="accessMethod" id="ssh" value="ssh" checked='checked')
                        else
                            input(type="radio" aria-label="ssh" name="accessMethod" id="ssh" value="ssh" )
                    span(aria-label="ssh" class="input-group-addon" style="width:100%;text-align: left;border:1px solid #ccc")= school_page.ssh
            div(id="ssh_param" style="display:none;")
                div(class="alert alert-danger" style="margin: 0; padding: 6px; width: 100%; box-shadow: none; font-size: 0.8em")
                    i(class="fa fa-exclamation-triangle fa-lg" style="margin-right:0.5em")
                    span= school_page.ssh_warning
                label(for="schoolName")= school_page.ssh_account
                input(type="text" class="form-control" name="sshAdmin" id="sshAdmin" maxlength=30 minlength=4 value='admin')
                label(for="schoolName")= school_page.ssh_password
                input(type="password" class="form-control" name="sshPassword" id="sshPassword" placeholder=passwordPh)
                label(for="schoolName")= school_page.ssh_password_confirm
                input(type="password" class="form-control" name="sshPassword_confirm" id="sshPassword_confirm")


            hr
            if schoolToEdit.id
                a(href="/conf/school/"+schoolToEdit.id+"/", class='btn btn-danger', type='button', style="margin:0.2em 1em 2em 1em")= buttons.cancel_button
            else
                a(href="/conf/", class='btn btn-danger', type='button', style="margin:0.2em 1em 2em 1em")= buttons.cancel_button
            button(class='btn btn-primary', type='submit', style="margin:0.2em 1em 2em 1em")= buttons.save_button

    script.
        $(function () {
            $('#api').change(function(){
                $('#ssh_param').hide();
            });
            $('#ssh').change(function(){
                $('#ssh_param').show();
            });
        })
        $(document).ready(function () {
            if ($("#api").attr("checked")){
                $('#ssh_param').hide();
            } else if ($("#ssh").attr("checked")) {
                $('#ssh_param').show();
            }
        });
        $("#sshPassword").change(function () {
            $('#sshPassword_confirm').attr('pattern', $('#sshPassword').val());
            if ($("#sshPassword").val != "") {
                $('#sshPassword_confirm').attr('required', true);
            } else {
                $('#sshPassword_confirm').attr('required', false);
            }
        });
