extends layout_admin

block content
    div(style="float:left")
        h2 Dev Interface
        h4 REST Request parameters
        table.table
            thead
                tr
                    th
                    th clientID
                    th SecretID
                    th ownerID
                    th vhmID
                    th vpcUrl
                    th accessToken
            tbody(id="apiList")
                if apiList
                    if api_req
                        each item, i in apiList
                            tr
                                td
                                    if api_req == item.id
                                        input(type="checkbox" selected="selected" class="checkbox" id="api_"+item.id value=item.id)
                                    else
                                        input(type="checkbox" class="checkbox" id="api_"+item.id value=item.id)
                                td(id="clientId_"+item.id)= apiClientId
                                td(id="secret_"+item.id)= apiSecret
                                td(id="ownerId_"+item.id)= item.ownerId
                                td(id="vhmId_"+item.id)= item.vhmId
                                td(id="vpcUrl_"+item.id)= item.vpcUrl
                                td(id="accessToken_"+item.id)= item.accessToken
                    else
                        each item, i in apiList
                            tr
                                td
                                    if i == 1
                                        input(type="checkbox" selected="selected" class="checkbox" id="api_" + item.id value=item.id)
                                    else
                                        input(type="checkbox" class="checkbox" id="api_" + item.id value=item.id)
                                td(id="clientId_" + item.id)= apiClientId
                                td(id="secret_" + item.id)= apiSecret
                                td(id="ownerId_" + item.id)= item.ownerId
                                td(id="vhmId_" + item.id)= item.vhmId
                                td(id="vpcUrl_" + item.id)= item.vpcUrl
                                td(id="accessToken_" + item.id)= item.accessToken
        h2 Create Request
        select(class="form-control" id="select_req")
        form(method="POST", action="/dev/")
            div(class="form-group")
                div(class="input-group")
                    div(class="input-group-addon" id="getURILabel" style="padding-right:0px") https://
                    if api_uri
                        input(type="text" class="form-control" style="padding-left:0px" id="api_uri" name="api_uri" placeholder="/xapi/v1/monitoring/devices?ownerID=abcd")=api_uri
                    else
                        input(type="text" class="form-control" style="padding-left:0px" id="api_uri" name="api_uri" placeholder="/xapi/v1/monitoring/devices?ownerID=abcd")
            input(type="hidden" id="api_req" name="api_req" value="")
            button(class="btn btn-success", type="submit") Send Request

        if result
            h2 Request
            div(class="bs-example bs-example-tabs" data-example-id="togglable-tabs")
                ul(id="myTabs" class="nav nav-tabs" role="tablist")
                    li(role="presentation" class="")
                        a(href="#Headers" id="Headers-tab" role="tab" data-toggle="tab" aria-controls="Headers" aria-expanded="false") Headers

                    li(role="presentation" class="")
                        a(href="#Response" role="tab" id="Response-tab" data-toggle="tab" aria-controls="Response" aria-expanded="false") Response
                div(id="myTabContent" class="tab-content")
                    div(role="tabpanel" class="tab-pane fade" id="Headers" aria-labelledby="Headers-tab")
                        h4 Request
                        span= result.request.options.method + " " + result.request.options.host + ":" + result.request.options.port + "/" + result.request.options.path
                        hr
                        for value, key in result.request.options.headers
                            div= key + ": "
                                span= value
                        hr
                        h4 Response
                        span= "Code: " + result.result.status
                        br
                        span= "Headers: " + result.result.headers
                    div(role="tabpanel" class="tab-pane fade" id="Response" aria-labelledby="Response-tab")
                        div(style='padding-left:2em')
                            span {
                            br
                            for item in result.data
                                div(style='padding-left:2em')
                                    span {
                                    br
                                    div(style='padding-left:2em')
                                        for value, key in item
                                            span= key + ": " + value
                                            br
                                    span }
                            span }




block script_footer
    script.

        var api_select = {
            1: 'custom',
            2: 'Monitor -- stations list -- /xapi/v1/monitor/clients?{ownerId,startTime,endTime,page,pageSize}',
            3: 'Monitor -- stations info -- /xapi/v1/monitor/clients/?{ownerId,clientId}',
            4: 'Monitor -- device list -- /xapi/v1/monitor/devices?{ownerId,showActiveClientCount,page,pageSize}',
            5: 'Monitor -- device info -- /xapi/v1/monitor/devices/?{ownerId,deviceId}',
            6: 'Configuration -- location Folders -- /xapi/v1/configuration/apLocationFolders{?ownerId}',
            7: 'Location -- /xapi/v1/location/clients{?ownerId,apMacs}',
            8: 'Identity -- credentials -- /xapi/v1/identity/credentials{?credentialType,ownerId,memberOf,adUser,creator,loginName,firstName,lastName,phone,email,userGroup,page,pageSize}',
            9: 'Identity -- groups -- /xapi/v1/identity/userGroups{?ownerId,memberOf,adUser}'
        }
        var api_uri = {
            1: '',
            2: "/xapi/v1/monitor/clients?{ownerId}",
            3: "/xapi/v1/monitor/clients/?{ownerId}",
            4: "/xapi/v1/monitor/devices?{ownerId}",
            5: "/xapi/v1/monitor/devices/?{ownerId}",
            6: "/xapi/v1/configuration/apLocationFolders?{ownerId}",
            7: "/xapi/v1/location/clients?{ownerId}",
            8: "/xapi/v1/identity/credentials?{ownerId}",
            9: "/xapi/v1/identity/userGroups?{ownerId}"
        }

        var apiId = "";

        function apiListChanged(currentID) {
            $('#apiList :checkbox').each(function () {
                if ($(this).val() == currentID) {
                    var vpcURL = $('#vpcUrl_' + currentID).text();
                    $('#getURILabel').text(vpcURL);
                    $('#api_req').val(currentID);
                    apiId = $(this).val();
                } else {
                    $(this).prop("checked", false);
                }
            });
        };

        $(document).ready(function() {

            $('#apiList > tr:first').find('input').prop('checked', true);

            apiListChanged($('#apiList > tr:first').find('input').val());

            $('#apiList :checkbox').change(function () {
                apiListChanged($(this).val());
            });

            for (var api in api_select){
                $("#select_req").append("<option value="+api_uri[api]+">"+api_select[api]+"</option>");
            }

            $("#select_req").change(function () {
                var apiString = $(this).val();
                var ownerId = $("#ownerId_" + apiId).text();
                apiString = apiString.replace('{ownerId}', "ownerId="+ownerId);
                $('#api_uri').val(apiString);
            })


            $('#myTabs a[href="#Response"]').tab('show')
        })




