extends layout_admin

mixin device_status(device)
    div
        h4= device.hostName
        case device.connected
            when true
                label(class="label label-success") Connected
            when false
                span(class="label label-danger") Disconnected
        br
        label Connected Clients
        span(class="badge")= " " + device.activeClients
        hr
        label MAC Address:
        span= " " + device.macAddress
        br
        label Serial Number:
        span= " " + device.serialId
        br
        label IP Address:
        span= " " + device.ip
        hr
        label Location:
        span= " " + device.locations

block content
    if session.SchoolId == 1
        pre(style="margin:10%; text-align:center")
            h3= user_button.select_school
    else
        div(style="float:left; width:100%; padding: 0px")
            section(id="device")
                if deviceList
                    table(class="square")
                        tbody
                            - var itemNum = 0
                            while itemNum < deviceList.length
                                tr
                                    td(style="width:50%;background-color:white;")
                                        - var device = deviceList[itemNum++]
                                        + device_status(device)

                                    td(style="width:50%;background-color:white;")
                                        - var device = deviceList[itemNum++]
                                        if device
                                            + device_status(device)


