extends layout_admin

mixin lesson_status(lesson)
    - var statusAttributes = ""
    - var statusText = ""
    - var powerButtonStatus = ""
    - var powerButtonAction = ""
    - var editButtonStatus = ""
    case lesson.lessonStatus
        when 'past'
            - statusAttributes = "label label-danger"
            - statusText = lesson_page.finished
            - powerButtonStatus = "not-active"
            - editButtonStatus = "not-active"
        when "present"
            - statusAttributes = "label label-success"
            - statusText = lesson_page.inProgress
            - powerButtonAction = "disableWifiForClassroom('" + lesson.id+"')"
        when "future"
            - statusAttributes = "label label-primary"
            - statusText = lesson_page.notStarted
            - powerButtonStatus = "not-active"
    tr
        td= lesson.classroomName
        td= lesson.startDate
        td= lesson.endDate
        td
            span(class=statusAttributes)= statusText
        td= lesson.username
        td
            div(style="float:right")
                a(href="#" class=powerButtonStatus style="margin:0em 1em;" onclick="disableWifiForClassroom('" + lesson.classroomName + "', '"+lesson.id+"')")
                    i(class="fa fa-power-off" )
                a(href="/classroom/"+ displayedClassroom + "/lesson/edit/?LessonId=" + lesson.id class=editButtonStatus type='button' style="margin:auto 0.5em")
                    i(class="fa fa-edit")
                a(href="#" type='button' style="margin:auto 0.5em" onclick="confirm_delete('"+lesson.id+"')")
                    i(class="fa fa-remove")

block content
    div(class="modal fade" id="confirmRemoveModal" tabindex="-1" role="dialog" aria-labelledby="confirmRemoveModalLabel" aria-hidden="true")
        div(class="modal-dialog")
            div(class="modal-content")
                div(class="modal-header")
                    h4(class="modal-title" id="confirmRemoveModalLabel") Confirmation
                div(class="modal-body")
                    span(id="oText")
                div(class="modal-footer")
                    button(type="button" class="btn btn-primary" data-dismiss="modal")= buttons.cancel_button
                    a(type="button" id="oRemove" href="" class="btn btn-danger")= buttons.remove_button


    div(class="modal fade" id="disableWifiForLesson" tabindex="-1" role="dialog" aria-labelledby="disableWifiForLessonLabel" aria-hidden="true")
        div(class="modal-dialog")
            form(id="disableWifiForLessonForm", action='', method='POST')
                div(class="modal-content")
                    div(class="modal-header")
                        h4(class="modal-title" id="disableWifiForLessonLabel")
                            span= lesson_page.disableWifiForClassroom
                            span(id="disableLesson")
                    div(class="modal-body")
                        label(for="group")= lesson_page.wifiDeactivation
                    div(class="modal-footer")
                        input(type="hidden" name="LessonId" id="disableLessonId" value="")
                        button(type="button" class="btn btn-danger" data-dismiss="modal")= buttons.cancel_button
                        button(class='btn btn-primary', type='submit')= buttons.deactivate_button

    div(style="float:left; width:100%; padding: 0px")
        if currentClassroom
            h4= lesson_page.classroomTitle + currentClassroom.classroomName
        else
            h4= lesson_page.genericTitle
        div(style="display: inline-flex;float: left;")
            form(action="/classroom/"+ displayedClassroom + "/lesson/new/" method="GET")
                if currentClassroom
                    input(type='hidden' name="ClassroomId" value=currentClassroom.id)
                input(type='hidden' name='when' value="now")
                button(class='btn btn-primary' type="submit" style="margin:0.2em 1em 2em 1em")= lesson_page.activateNow
            form(action="/classroom/"+ displayedClassroom + "/lesson/new/" method="GET")
                if currentClassroom
                    input(type='hidden' name="ClassroomId" value=currentClassroom.id)
                input(type='hidden' name='when' value="later")
                button(class='btn btn-primary' type="submit" style="margin:0.2em 1em 2em 1em")= lesson_page.activateLater
        section(id="classroom")
            if lessonList
                table.table.table-hover
                    thead
                        tr
                            th= lesson_page.classroom
                            th= lesson_page.startDate
                            th= lesson_page.endDate
                            th= lesson_page.status
                            th= lesson_page.teacher
                            th= lesson_page.action
                    tbody
                        for item in lessonList
                            +lesson_status(item)

    script.
        function confirm_delete(oId) {
            $('#oRemove').attr('href', '/lesson/delete/?LessonId=' + oId);
            $('#oText').text("#{lesson_page.delete_lesson_title}");
            $('#confirmRemoveModal').modal('show');
        }
        function disableWifiForClassroom(cName, lId) {
            $('#disableLesson').text(cName);
            $('#disableWifiForLessonForm').attr('action', '/lesson/disable/?LessonId=' + lId);
            $('#disableLessonId').val(lId);
            $('#disableWifiForLesson').modal('show');
        }