extends layout_admin

block content
    - var action = "/classroom/" + classroomId + "/lesson/new/"
    - var activationDate = ""
    - var activationDateClass = ""
    - var manualDeactivation = true
    - var deactivationAt = ""
    - var deactivationAtDate = ""
    if currentLesson != null
        - action = "/classroom/" + classroomId + "/lesson/" + currentLesson.id + "/edit/"
        - activationDate = currentLesson.startDate
        if currentLesson.endDateTs != 0
            - manualDeactivation = false
            - deactivationAtDate = currentLesson.endDate
        if currentLesson.lessonStatus != "future"
            - var activationDateClass = "not-active"

    div(style="width:50%; margin:auto")
        form(action=action method="POST" class="form-horizontal")
            if currentClassroom
                h4= activation_page.classroomTitle + currentClassroom.classroomName
                input(type="hidden" name="ClassroomId" value=currentClassroom.id)
            else
                h4= activation_page.genericTitle
                label(for="ClassroomId")= activation_page.classroom
                select(class="form-control" name="ClassroomId" id="ClassroomId" style="margin:5%; width:90%")
                    if classroomList
                        each item in classroomList
                            option(value=item.id)= item.classroomName

            hr
            if activation != 'now'
                label(for="startDate")= activation_page.startDate
                div(class="form-group " + activationDateClass style="margin:5%")
                    div(class='input-group date')
                        input(type='text' class="form-control" name="startDate" id='startDatePicker' placeholder=activationDate)
                        span(class="input-group-addon")
                            span(class="glyphicon glyphicon-calendar")
                hr
            label= activation_page.endDate
            div(class="row" data-name="unlimited").spanSelect.row_activation
                div(class="input-group")
                    span(class="input-group-addon" )
                        if manualDeactivation == true
                            input(type="radio" aria-label="unlimited" name="wifiActivation" id="unlimited" value="unlimited" checked="checked")
                        else
                            input(type="radio" aria-label="unlimited" name="wifiActivation" id="unlimited" value="unlimited")
                    span(aria-label="unlimited" class="input-group-addon" style="width:100%;text-align: left;border:1px solid #ccc")= activation_page.unlimited
            div(class="row" data-name="duration").spanSelect.row_activation
                div(class="input-group")
                    span(class="input-group-addon")
                        input(type="radio" aria-label="duration" name="wifiActivation" id="duration" value="duration")
                    span(class="input-group-addon" aria-label="duration")= activation_page.for
                    input(type="text" name="duration" value="120" size='4' class="form-control" style="display:inline; width: auto; height: auto; padding: Opx 12px;")
                    span(class="input-group-addon" aria-label="duration" style="width: 100%;text-align: left;border:1px solid #ccc")= activation_page.minutes
            div(class="row" data-name="until").spanSelect.row_activation
                div(class="input-group")
                    span(class="input-group-addon")
                        if manualDeactivation == true
                            input(type="radio" aria-label="until" name="wifiActivation" id="until" value="until" )
                        else
                            input(type="radio" aria-label="until" name="wifiActivation" id="until" value="until" checked="checked")
                    span(class="input-group-addon" aria-label='until')= activation_page.untilDate
                    input(type='text' class="form-control" name='endDate' id='endDatePicker' placeholder=deactivationAtDate)
                    span(class="input-group-addon")
                        span(class="glyphicon glyphicon-calendar")


            hr
            a(href="/classroom/" + classroomId + "/lesson/", class='btn btn-danger', type='button', style="margin:0.2em 1em 2em 1em")= buttons.cancel_button
            if classroomList || currentClassroom
                button(class='btn btn-primary', type='submit', style="margin:0.2em 1em 2em 1em")= buttons.save_button
            else
                button(class='btn btn-primary', type='submit', style="margin:0.2em 1em 2em 1em" disabled="disabled")= buttons.save_button

    if activation == 'now'
        script.
            $(function () {
                $('#endDatePicker').datetimepicker({
                    useCurrent: true,
                    minDate: new Date(),
                    collapse: false,
                    format: "MM/DD/YYYY HH:mm"
                });
            });
            $('.row_activation').click(function () {
                $("#" + $(this).data('name')).prop("checked", true);
            })
    else if currentLesson
        script.
            $(function () {
                var startDate = $("#startDatePicker").attr("placeholder");
                if ($("#endDatePicker").attr("placeholder") != "N/A"){
                    var endDate = $("#endDatePicker").attr("placeholder");
                } else {
                    var endDate = new Date();
                }
                $('#startDatePicker').datetimepicker({
                    defaultDate: startDate,
                    useCurrent: false,
                    collapse: false,
                    sideBySide: true,
                    format: "MM/DD/YYYY HH:mm"
                });
                $('#endDatePicker').datetimepicker({
                    minDate: new Date().getTime(),
                    defaultDate: endDate,
                    useCurrent: false,
                    collapse: false,
                    sideBySide: true,
                    format: "MM/DD/YYYY HH:mm"
                });

                $("#startDatePicker").on("dp.change", function (e) {
                    $('#endDatePicker').data("DateTimePicker").minDate(e.date);
                });
                $("#endDatePicker").on("dp.change", function (e) {
                    $('#startDatePicker').data("DateTimePicker").maxDate(e.date);
                });
            });
            $('.row_activation').click(function () {
                $("#" + $(this).data('name')).prop("checked", true);
            })
    else
        script.
            $(function () {
                $('#startDatePicker').datetimepicker({
                    date: new Date(),
                    minDate: new Date(),
                    collapse: false,
                    sideBySide: true,
                    format: "MM/DD/YYYY HH:mm"
                });
                $('#endDatePicker').datetimepicker({
                    useCurrent: false,
                    collapse: false,
                    sideBySide: true,
                    minDate: new Date(new Date().getTime() + 300000),
                    defaultDate: new Date(new Date().getTime() + 300000),
                    format: "MM/DD/YYYY HH:mm"
                });

                $("#startDatePicker").on("dp.change", function (e) {
                    $('#endDatePicker').data("DateTimePicker").minDate(new Date(new Date(e.date).getTime() + 300000));
                    $('#endDatePicker').data("DateTimePicker").date(new Date(new Date(e.date).getTime() + 300000));
                });

            });
            $('.row_activation').click(function () {
                $("#" + $(this).data('name')).prop("checked", true);
            })
