extends layout

block content
    div(style="width:50%; margin:auto")
        h3= user_page.user_account
        form(action='', method='POST')
            label(for="username")= user_page.username
            input(type="text" class="form-control" name="username" id="username" value=userToEdit.username required="" maxlength=60 minlength=4)
            label(for="password")= user_page.password
            input(type="password" class="form-control" name="password" id="password" placeholder=user_page.password_placeholder minlength=6 maxlength=60)
            label(for="password")= user_page.confirm_password
            input(type="password" class="form-control" id="confirm_password" placeholder="")
            hr
            label(for="firstName")= user_page.firstName
            input(type="text" class="form-control" name="firstName" id="firstName" value=userToEdit.firstName)
            label(for="lastName")= user_page.lastName
            input(type="text" class="form-control" name="lastName" id="lastName" value=userToEdit.lastName)
            label(for="email")= user_page.email
            input(type="email" class="form-control" name="email" id="email" value=userToEdit.email)
            hr
            case user.GroupId
                when 1
                    label(for="group")= user_page.school
                    select(class="form-control" name="SchoolId" id="SchoolId")
                        each item in schools
                            if userToEdit.SchoolId == item.id
                                option(value=item.id, selected="selected")= item.schoolName
                            else
                                option(value=item.id)= item.schoolName
                    hr
                    label(for="group")= user_page.group
                    select(class="form-control", name="GroupId", id="GroupId")
                        each item in groups
                            if userToEdit.GroupId == item.id
                                option(value=item.id, selected="selected")= item.groupName
                            else
                                option(value=item.id)= item.groupName
                default
                    label(for="group")= user_page.school
                    select(class="form-control" name="SchoolId", disabled="disabled")
                        each item in schools
                            if userToEdit.SchoolId == item.id
                                option(value=item.id, selected="selected")= item.schoolName
                    hr
                    label(for="group")= user_page.group
                    select(class="form-control", disabled="disabled", name="GroupId")
                        each item in groups
                            if userToEdit.GroupId == item.id
                                option(value=item.id, selected="selected")= item.groupName
            label(for="language")= user_page.language
            select(class="form-control" name="LanguageId")
                each item in languages
                    if userToEdit.LanguageId == item.id
                        option(value=item.id, selected="selected")= item.language
                    else
                        option(value=item.id)= item.language
            if userToEdit.id == user.id
                input(type="hidden", name="userEnable", value=userToEdit.userEnable)
            else
                label(for="enable")= user_page.enable
                if userToEdit.userEnable
                    input(type="checkbox", name="userEnable", style="margin-left:1em", checked)
                else
                    input(type="checkbox", name="userEnable", style="margin-left:1em")
            hr
            if userToEdit.id
                a(href="/user?id="+userToEdit.id, class='btn btn-danger', type='button', style="margin:0.2em 1em 2em 1em")= buttons.cancel_button
            else
                a(href="/conf/", class='btn btn-danger', type='button', style="margin:0.2em 1em 2em 1em")= buttons.cancel_button
            button(class='btn btn-primary', type='submit', style="margin:0.2em 1em 2em 1em")= buttons.save_button

    script.
        $("#GroupId").change(function() {
            if ($(this).val() == 1) {
                $("#SchoolId").prop("disabled", true);
                $("#SchoolId").val("1");
            } else {
                $("#SchoolId").prop("disabled", false);
            }
        });

